.table {
    text-align: center;
    width: 100%;
}
.thead td {
    border: 1px solid #bcc4e0;
}
.td {
   width: 100px;
   height: 100px;
   border: 1px solid #bcc4e0;
}
.td:hover {
    transform: scale(.95);
    box-shadow: inset 2px -2px 5px #9191d4, inset -2px 2px 5px #9191d4;
    font-style: italic;
    cursor: pointer;
}
.td a {
    margin-top: 0;
    text-decoration: none;
    color: #000000;

}

.decorate {
    box-shadow: inset 2px -1px 5px #9191d4;
}