.wrapper {
  display: flex;
  flex-direction: row;
  min-width: 100%;
}

.taskList {
  text-align: center;
  min-width: 100vh;
  & thead td {
    border: 1px solid #bcc4e0;
    font-weight: bold;
  }
  & h4 {
    margin: 0;
    padding: 0;
    background-color: #353A40;
    color: azure;
    width: 100%;
  }
}
.taskList table {
  width: 100%;
}


.task td {
  border: 1px solid #bcc4e0;
}

.task td:hover {
  transform: scale(.99);
  box-shadow: inset -2px 1px 5px #9191d4;
  font-style: italic;
  cursor: pointer;
}
.date {
  width: 20%;
}
.caption {
  width: 80%;
}